body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Login */
.login-container {
  background-image: url('./images/backgroud.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 80%;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 24px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #5C6BC0;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #3F51B5;
}

.login-form input[type='text']:focus,
.login-form input[type='password']:focus {
  outline: none;
  border-color: #5C6BC0;
}

@media (max-width: 821px) {
  .login-form {
      width: 90%;
  }

  .main-content {
    margin: 1rem;
    padding: 1rem;
}
}

/* Index */
.card {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Form container */
.create {
  margin: 2rem auto;
}

/* Form elements styling */
.create form div {
  margin-bottom: 1rem;
}

.create label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
}

.create input[type="text"],
.create input[type="file"],
.create select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Enhance the Quill editor visibility */
.ql-container {
  height: 200px;
}

.create input[type="submit"]:hover {
  background-color: #357abd;
}


/* View Main content area */
.view {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.view article {
  border-radius: 10px;
  margin: 1rem auto 2rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view article header h1 {
  padding: 20px 0px;
  color: white;
}

.fixed-size-image {
  width: 200px;
  height: 200px;
}


.comments form {
  margin-top: 20px;
}

.comments form input, .comments form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.comments form textarea {
  height: 200px;
}


.comments-display {
  margin-top: 20px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-display .comment {
  background: #fff;
  border-left: 4px solid #007bff;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  color: #007bff;
}

.comments-display .comment:nth-child(odd) {
  border-left-color: #28a745;
  color: #28a745;
}

.comments-display p {
  color: #000;
}

.comments-display strong {
  display: block;
  color: #333;
  margin-bottom: 5px;
  font-size: 1.1em;
}



/* Main content styles */
.main-content {
  margin: 2rem auto;
  max-width: 80%;
}


/* Table styles */

.table td:nth-child(4) {
  max-width: 300px; 
}

.table th a::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}


.table th a[href*="order=asc"]::before {
  border-bottom: 5px solid #fff; 
}


.table th a[href*="order=desc"]::before {
  border-top: 5px solid #fff; 
}


.table th a.current-sort[href*="order=asc"]::before {
  border-bottom: 5px solid #55dd5a; 
}

.table th a.current-sort[href*="order=desc"]::before {
  border-top: 5px solid #55dd5a; 
}


/* Image preview styles */
.edit-image-preview {
  max-width: 20%;
  height: auto;
  display: block;
  margin-top: 1rem;
  border-radius: 5px;
}


/* Home */
  
  .intro {
    background: url('./images/space-background.png') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 40vh;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    text-align: left; 
    padding-left: 10%;
  }
  
  .intro h1 {
    max-width: 50%; 
    margin-bottom: 18px;
    font-size: 3rem;
  }

  .gallery h2 {
    color: white;
    margin: 20px 0px 0px 35px;
  }
  
  .gallery h3 {
    font-size: 16px;
  }
  
  .gallery {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
  }
  
  .article-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap; 
  }
  
  
  .gallery article {
    color: white;
    width: 30%;
    font-size: 12px;
    margin: 1rem;
    text-align: left;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px white solid;
    border-radius: 15px;
  }

  .gallery a {
    text-decoration: none;
    color: #665cc0;
  }
  





